<% if logged_in? %>
<div>
  <h2>  <%= current_user.name %> さんのタスク一覧 <%= link_to "ユーザ情報", user_path(current_user), class: "btn btn-success " %>  </h2>
  
</div>
  <%= render 'tasks/tasks', tasks: @tasks %>

<% else  %>
      <h2> ログインしてタスクを管理しましょう</h2>
      <%= link_to "ユーザ登録", signup_path, class: "btn btn-success " %>  
      <%= link_to "ログイン", login_path, class: "btn btn-primary " %> 
<% end %>


