<h1>id: <%= @task.id %> のタスク詳細ページ</h1>

<p><%= @task.content %></p>
<p>このタスクは<%= @task.created_at %>に作成されました。</p>

<p>現在のステータス：<%= @task.status %></p>


<%= link_to "一覧に戻る", tasks_path  %>
<%= link_to "このタスクを編集する。", edit_task_path(@task)  %>
<%= link_to "このタスクを削除する。", @task, method: :delete, data: { confirm: "削除して良いでしょうか??" } %> 